.cartDashboard {
    /* display: flex;
    gap: 2rem; */
    /* border: 3px solid gray; */
    max-width: 1000px;
    background-color: var(--animesh-choice-yellow);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: 1rem;
    margin-bottom: 5rem;
    font-weight: 700;
}

.cartCard {
    display: flex;
    justify-content: space-around;
}

.cartCardName {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.cartCardName * {
    /* border: 3px solid hotpink; */
    vertical-align: middle;
}

.customerDetails, .cart {
    border: 3px solid;
}