
/* .popularActions {
  border: 5px solid lightslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  min-height: 20vh;
} */

/* .dailyDeals {
  border: 5px solid saddlebrown;
  min-height: 20vh;
} */

/* .allProducts {
  border: 5px solid hotpink;
  min-height: 20vh;
} */

/* .allProductCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
} */

.mainProduct {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1.25rem;
  /* border: 3px solid green; */
}

.mainProduct > * {
  /* Study All this hackery */
  flex-basis: 250px;
  flex-grow: 1;
}

.mainProduct picture {
  text-align: center;
}

.mainProduct img {
  /* display: block; */
  /* border: 3px solid red; */
  vertical-align: bottom;
}

.productDetails {
  /* border: 3px solid blue; */
  /* max-width: 300px; */
}

/* .strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
} */

/* .productDetails {
  list-style-type: disc;
}

.productDetails > li {
  margin-left: 1rem;
} */