
.popularActions {
  /* border: 5px solid lightslategray; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  min-height: 20vh;
}

.dailyDeals {
  /* border: 5px solid saddlebrown; */
  min-height: 20vh;
}

.allProducts {
  /* border: 5px solid hotpink; */
  min-height: 20vh;
}

.allProducts > h2 {
  text-align: center;
}

.allProductCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.mainProduct {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.mainProduct p {
  font-size: 1.25rem;
  /* font-weight: 700; */
}

.mainProduct img {
  /* width: 100%; */
  min-width: 400px;
}

.strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.productDetails {
  list-style-type: disc;
}

.productDetails > li {
  margin-left: 1rem;
}